<button class="toggle-btn" (click)="toggleSidebar()">
  <i class="fas" [ngClass]="{ 'fa-bars': !isOpen, 'fa-times': isOpen }"></i>
</button>

<nav class="sidebar" [class.closed]="!isOpen">
  <ul *ngIf="!isAllVoyagesView">
    <li><strong>{{ projetActif?.nom || 'Projet Actif' }}</strong></li>
    <li><a routerLink="/client"><i class="fas fa-users"></i> <span>Clients du projet Actif</span></a></li>
    <li><a routerLink="/depot"><i class="fas fa-building"></i> <span>Dépôts</span></a></li>
    <li><a routerLink="/voyage"><i class="fas fa-route"></i> <span>Voyages</span></a></li>
    <li><a routerLink="/chauffeur"><i class="fas fa-user-tie"></i> <span>Tous les chauffeurs</span></a></li>
    <li><a routerLink="/camion"><i class="fas fa-truck"></i> <span>Tous les camions</span></a></li>
  </ul>
  <ul *ngIf="isAllVoyagesView">
    <li><a routerLink="/voyage"><i class="fas fa-route"></i> <span>Tous les voyages</span></a></li>
    <li><a routerLink="/clients"><i class="fas fa-users"></i> <span>Tous les clients</span></a></li>
    <li><a routerLink="/depots"><i class="fas fa-building"></i> <span>Tous les dépôts</span></a></li>
    <li><a routerLink="/camion"><i class="fas fa-truck"></i> <span>Tous les camions</span></a></li>
    <li><a routerLink="/chauffeur"><i class="fas fa-user-tie"></i> <span>Tous les chauffeurs</span></a></li>
  </ul>
</nav>
