<div class="custom-dialog-wrapper">
  <h2 mat-dialog-title class="dialog-title"> Modifier la ligne</h2>

  <mat-dialog-content class="dialog-content">
    <div class="fields-row">
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="data.name" placeholder="Saisir un nom">
      </mat-form-field>
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>Fruit</mat-label>
        <input matInput [(ngModel)]="data.fruit" placeholder="Ex. Pomme">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="dialog-field">
      <mat-label>Progrès (%)</mat-label>
      <input type="number" matInput [(ngModel)]="data.progress" placeholder="0 - 100">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="dialog-actions">
    <button mat-stroked-button color="warn" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
  </mat-dialog-actions>
</div>